<div class="new-appointment-form">
  <div class="modal-header">
    <h3>Nueva Cita</h3>
    <button class="close-btn" (click)="onCancel()">&times;</button>
  </div>
  <form (ngSubmit)="onSubmit()" #appointmentForm="ngForm">
    <div class="modal-body">
      <div class="form-group">
        <label for="paciente">Nombre del Paciente</label>
        <select id="paciente" name="paciente" [(ngModel)]="appointmentData.patient_id" required>
          <option [ngValue]="null" disabled>Seleccionar paciente</option>
          <option *ngFor="let patient of patients" [ngValue]="patient.id">
            {{ patient.firstName }} {{ patient.lastName }}
          </option>
        </select>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="doctor">Doctor</label>
          <select id="doctor" name="doctor" [(ngModel)]="appointmentData.dentist_id" required>
            <option [ngValue]="null" disabled>Seleccionar doctor</option>
            <option *ngFor="let doctor of doctors" [ngValue]="doctor.id">
              {{ doctor.firstName }} {{ doctor.lastName }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="tratamiento">Tratamiento</label>
          <select id="tratamiento" name="tratamiento" (change)="onTreatmentChange($event)" required>
            <option value="" disabled selected>Seleccionar tratamiento</option>
            <option *ngFor="let t of allTreatments" [value]="t.id">
              {{ t.nombre }}
            </option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="fecha">Fecha</label>
          <input type="date" id="fecha" name="fecha" [(ngModel)]="appointmentData.fecha" required>
        </div>
        <div class="form-group">
          <label for="hora">Hora</label>
          <input type="time" id="hora" name="hora" [(ngModel)]="appointmentData.hora" required>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn-secondary" (click)="onCancel()">Cancelar</button>
      <button type="submit" class="btn-primary" [disabled]="!appointmentForm.form.valid">Crear Cita</button>
    </div>
  </form>
</div>